{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h2>INDEX.HTML</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row" id="main-links">
            <div class="col-12 col-lg-6 py-5">
                <p>Browse our online store here:</p>
                <a href="#" class="shop-button btn btn-lg rounded-0 border text-uppercase mx-5 py-3">Shop</a>
            </div>
            <div class="col-12 col-lg-6 py-5">
                <p>See all the latest news and updates in our blog:</p>
                <a href="#" class="shop-button btn btn-lg rounded-0 border text-uppercase mx-5 py-3">Blog</a>
            </div>
        </div>
    </div>
{% endblock %}