{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="background-image">
        <div class="container h-100">
            <div class="row" id="main-links">
                <div class="index-link col-6 col-lg-4 offset-2 p-2">
                    <div class="white-background p-3">
                        <p><strong>Browse our online store here:</strong></p>
                        <a href="{% url 'shop' %}" class="shop-button btn btn-lg rounded-0 border text-uppercase mx-5 py-3"><strong>Shop</strong></a>
                    </div>
                    
                </div>
                <div class="index-link col-6 col-lg-4 offset-2 p-2">
                    <div class="white-background p-3">
                        <p><strong>See latest news and updates:</strong></p>
                        <a href="{% url 'blog' %}" class="shop-button btn btn-lg rounded-0 border text-uppercase mx-5 py-3"><strong>Blog</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}