html {
    height: 100%;
}

body {
    font-family: 'Playfair Display', serif;
}

/* base.html */

.header-container {
    height: 120px; /* Set header container height so the body appears below the header, not behind it. */
}

#nav-buttons{
    text-align: justify;
}

.main-logo-link, .main-logo-link:hover {
    color: white;
    padding: 0;
}

.logo-font {
    font-family: 'Playfair Display', serif;
}

.bg-cornergreen {
    background-color: #6c8e02; 
}

.btn-black {
    background: black;
    color: white;
    border: black;
}

.nav-btn {
    border: solid 1px;
    margin: 5px;
}

/* index.html */

#main-links {
    margin-top: 25%;
}

/* shop.html */

.img-size {
    height: 460px;
    width: 300px;
}

/* Media queries -----------------*/

@media (max-width: 992px){
    .header-container {
        height: 200px; /* Set header container height so the body appears below the header, not behind it. */
    }

    .logo-font {
        font-size: xx-large;
    }
}