{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 justify-content-center">
                <h3>Newsletter</h3>
                <p>Sign up for our newsletter</p>
                <div class="col-6">
                    <form action="{% url 'newsletter' %}" method="POST" id="login-form">
                        {% csrf_token %}
                        <fieldset>
                            Enter your email address:
                            <input type="email" id="email" name="email">
                        </fieldset>
                        <div class="submit-button text-end mt-5 mb-2">
                            <a href="#" class="btn btn-outline border" onClick="javascript:history.go(-1);">
                                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                                <span class="font-weight-bold">Go Back</span>
                            </a>
                            <button id="submit-button" class="btn btn-black">
                                <span class="font-weight-bold">Sign Up</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Message if user signs up with email -->
    {% if messages %}
        {% for message in messages %}
            <div class="my-5 alert alert-success">
                <h5 class="m-0">
                    {{ message }}
                </h5>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}