{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h2 class="logo-font">All Books</h2>
                <hr class="w-50 mb-1 mx-auto">
            </div>
        </div>
        <div class="row">
            <div class="book-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for book in books %}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                            <div class="card h-100 border-0">
                                {% if book.image %}
                                <a href="{% url 'product_detail' book.id %}">
                                    <img class="card-img-top img-fluid img-size" src="{{ book.image_url }}" alt="{{ book.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' book.id %}">
                                    <img class="card-img-top img-fluid img-size" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ book.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0"><strong>{{ book.name }}</strong></p>
                                    <p class="mb-0">{{ book.author }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">€{{ book.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}